* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.titulo {
    text-decoration: overline;
}


.img1 {
    width: 510px;
    height: 775px; 
}

.img2 {
    height: 725px;   
    
    width: 555px;
}

.img3 {
    width: 515px;
    height: 775px; 
}